body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

/* will be interesting to see, how the solution handled the padding left and right
* finally found my solution with 'CSS always uses the same page spacing on the left and right'
* */
body>* {
    padding: 10px 180px;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

#header-logo-text {
    font-size: 24px;
    font-weight: 900;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

#secondary-text {
    font-size: 18px;
    color: #f9faf8;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.button {
    padding: 10px 28px;
    border-radius: 8px;
}

.button-top {
    background-color: #3882f6;
    border: none;
    margin-top: 10px;
    color: #f9faf8;
}

.header-bottom-right {
    display: flex;
    width: 450px;  
    background-color: #6d747d;
}

.header-bottom-left {
    width: 450px;
    margin-right: 40px;
}


/* TODO: why isnt the grey placeholder-box filling out all the space? bc the background color was in the wrong div (here), has to be one level higher*/
.image-placeholder {
    flex: 1;
    text-align: center;
    margin: auto;
}

h2 {
    /* all children of body element have padding of 10px */
    margin-top: 30px; 
    margin-bottom: 40px;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}

img {
    width: 180px;
    height: 180px;
}

.bco-card-wrapper {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 180px;
    height: 250px;
    text-align: center;
}
        
#information {
    font-weight: 900;
}

.footer {
    background-color: #e9e5e7;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}
