@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* -- My solution -- */
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 12px;
  padding: 4px 14px;
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ul {
  display: flex; /*missing in my own solution*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  color: #666;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

/* .header > * { */
/*   display: flex; */
/*   gap: 16px;  */
/* } */

.footer {
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #EEEEEE;
  padding: 12px;
}

/* .footer > * { */
/*   display: flex; */
/*   gap: 16px;  */
/* } */

/* -- Learnings -- */

/* Didn't put the 'display: flex' in the <ul> element */
